* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --color-one: hsl(0, 0%, 100%);
    --color-Two: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
   --very-Dark: hsl(0, 0%, 41%);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

body {
    font-family: josefin-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    width: 100%;
    height: 100vh;
    color: hsl(0, 0%, 100%);
  }
  #bg-hero {
    background-image: url("../assets/img/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10rem;
  }
  .main-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .main-nav li {
    position: relative;
  }
  .main-nav a {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .main-nav a:hover {
      color: #fff;
  }
  .main-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -3px;
    background-color: orange;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s ease;
  }
  .main-nav a:hover::before {
    transform: scaleX(1);
  }

  .burger {
      display: none;
      cursor: pointer;
  }
  .burger > div {
      width: 30px;
      height: 3px;
      background-color: hsl(0, 0%, 100%);
      margin: 5px;
      transition: all 0.3s ease;
  }
  .toggle .line-1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line-3 {
      opacity: 0;
  }
  .toggle .line-3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }

  .hero-text {
      width: 30rem;
      font-size: 3.2rem;
      border: 1px solid hsl(0, 0%, 100%);
      padding: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transform: translateY(20vh);
      line-height: 1.5;
     /*  animation: fadeIn 3s ease-in 1s forwards; */
  }

  @keyframes fadeIn {
      from {
      transform: translateY(-40rem);
      }
      to {
      transform: translateY(initial);
      }
  }
 /*  //main */
 .main {
     margin-top: 8rem;
     width: 100%;
 }
 .interactive {
     display: flex;
     width: 100%;
     justify-content: center;
     margin-bottom: 8rem;
 }
 .interactive__image-container {
     width: 100rem;
 }
 .interactive__image-container img {
     max-width: 100%;
     height: auto;
 }
 .interactive__content {
     background-color: hsl(0, 0%, 100%);
     padding: 3rem 0 0 5rem;
     align-self: flex-end;
     width: 100%;
     position: relative;
     left: -10rem;
 }
 .interactive__content .virtual {
     font-size: 3rem;
     text-transform: uppercase;
     letter-spacing: 0.2rem;
     font-family: josefin-sans,sans-serif;
     color: hsl(0, 0%, 0%);
     padding: 2rem 0;
 }
 .interactive__content p {
     font-size: 1.2rem;
 }
 .interactive__content:nth-child(2){
     color: hsl(0, 0%, 55%);
 }

/*  //grid-title */
.grid-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0 0 5rem 0;
}